target
ideatarget
.target
bin
.cache
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
logs
.DS_Sore

# intellij idea
.idea
*.iml
*.class
*.ipr
*.iws

#### scala ####

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Package Files #
*.jar
*.war
*.ear

